@font-face {
    font-family: "Avenir";
    src: url(/storage/font/AvenirLTStd-Black.otf);
}
@font-face {
    font-family: "Avenirp";
    src: url(/storage/font/AvenirLTStd-Roman.otf);
}
.gridcontainer{
    margin: 3vw;
    display: grid   ;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    border: 1px solid  black;
}
.item{
    display: grid   ;
    border: 1px solid  black;
}
.item2{
    display: grid;
    border: 1px solid black;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}
#titulo{
    font-family: "Avenir",sans-serif;
    font-size: 5vw;
    margin-top: 7vw;
    color: #252525;
}
#contenido{
    font-family: "Avenirp",sans-serif;
    font-size: 1.8vw;

}
#Boton{
    padding: 1vw;
    border-radius: 2vw;
    border: none;
    width: 6vw;
    filter: invert();
}
.img{
    align-items: center;
    display: flex;
}
#img1{
    position: absolute;
    margin-left: 8vw;
    z-index: -1;
    width: 20vw;
}
#img2{
    position: absolute;
    margin-left: 23vw;
    margin-top: 15.5vw;
    z-index: +1;
    width: 20vw;
}

.item2p{
    padding: 3vw;
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3,1fr);
    margin-top: 45vw;
    width: 83.5vw;
    background-color: #252525;
}
#cloud{
    font-family: "Avenirp",sans-serif;
    font-size: 2vw;
    float: left;
    text-align: left;
    filter: invert();
}
#cloud1{
    font-family: "Avenirp",sans-serif;
    font-size: 2vw;
    float: left;
    text-align: left;
    filter: invert();
}
#nube{
    width: 2vw;
}